<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>ブクシルに登録して頂き、ありがとうございます！</h1>
    <p>
      このサイトにログインするには、<%= @url %>をクリックしてください。
    </p>
    <p>登録していただいた作家さんの新刊が発売される3日前にお知らせします。どうぞお役立て下さい！</p>
  </body>
</html>