<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <%= @favored_author_book.title %>があと3日で発売されます<br>
    </p>
    <p>
      
    </p>
  </body>
</html>