<div class="col-4 col-md-3 col-lg-2 mb-4 p-0">
  <div class = "card border-secondary mb-3" style = "width:205px; border-width:2px;">
    <div class = "mx-auto card-header border-bottom p-0 m-0" style = "background-color: white;">
        <p style = "font-size: 1.5rem; word-break: keep-all; color: #626262;"><%= book.author_name %></p>
    </div>
    <div class="card-body book-body bg-secondary p-2" style= "height: 80px; color: #626262;">
      <div class = "favorite_button_container" >
        <% if user_signed_in? %>
          <% author = Author.registered_2(book) %>
          <% if AuthorFavorite.favored_by?(author, current_user) %>
            <%= render "books/favorite", {author: author}%>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>