<div id = "search-box">
  <%= form_with model:@book, url: search_books_path, method: :get, local: true do |f| %>
    <%= f.text_field :book, id: "book_search", name: "keyword", placeholder: "キーワードを打ち込んで下さい", style: "width: 300px;" %>

    <%= f.select :search_item, [["コミック", "コミック"], ["小説", "小説"], ["電子書籍", "電子書籍"]], prompt: "全てのジャンル", name:"genre" "pulldown" %>

    <%= f.submit "検索" %>
  <% end %>
</div>