<%= render "search_box", books: @books, genres: @genres %>

<div class = "container-fluid" >
  <div class = "row">
    <%= render partial: "search_result", collection: @title_books, as: "book" %>
    <%= render partial: "search_result", collection: @author_books, as: "book" %>
  </div>
</div>