<h1>New books information</h1>
<div class = "content">
  <%= render "search_box", books: @books, genres: @genres %>
  <div id = "book_list">
    <%= render "book_list", books_author: @books_author, books_title: @books_title, author_name: @author_name, author_favorite: @author_favorite %>
  </div>
</div>