<h1>New books information</h1>
<div class = "content">
  <%= render partial: "search_box", books: @books, genres: @genres %>
  <div id = "book_list">
    <%= render partial: "book_list" %>
  </div>
</div>