<p>好きな作家の新刊発売日が近くなるとメールでお知らせ</p>
<%= render "search_box" %>

<p>コミック</p>
<div class = "container-fluid" >
  <div class = "row">
    <%= render partial: "book_list", collection: @unreleased_comics, as: "book" %>
  </div>
</div>

<p>小説・エッセイ</p>
<div class = "container-fluid" >
  <div class = "row">
    <%= render partial: "book_list", collection: @unreleased_novels_and_essays, as: "book" %>
  </div>
</div>

<p>ライトノベル</p>
<div class = "container-fluid" >
  <div class = "row">
    <%= render partial: "book_list", collection: @unreleased_light_novels, as: "book" %>
  </div>
</div>