.top-header-wrapper {
  background-image: url("/assets/header-image.png");
  background-size: cover;
  height: 300px;
}

.top-header-container {
  // width: 90%;
  margin: 0 auto;
}

.catch-copy {
  color: #2cbae7;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1rem 10px;
  display: inline-block;
  font-size: 2rem;
  font-weight:bold;
}

.content-wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 0 10px;
}

.content-title {
  margin: 0.5rem 0;
  font-size: 1.5rem;
  color: #2cbae7;
}

.favorite_button_container{
  display: flex;
  margin-bottom:10px;
}

.favorite_button{
  border: none;
  outline: none;
  background-color:transparent;
  background: transparent;
}

.favorite_button_item{
  margin: 0.25rem 0 0 8px;
}