.top-header-wrapper {
  background-image: image-url("header-image.png");
  background-size: cover;
  height: 300px;
}

.top-header-container {
  // width: 90%;
  margin: 0 auto;
}

.catch-copy {
  color: #2cbae7;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1rem;
  border-radius: 0.25rem;
  font-size: 2rem;
  font-weight:bold;
  display: inline-block;
}

@import "content"