.top-header-wrapper {
  background-image: url("/assets/header-image.png");
  background-size: cover;
  height: 300px;
}

.top-header-container {
  // width: 90%;
  margin: 0 auto;
}

.catch-copy {
  color: #2cbae7;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1rem 10px;
  font-size: 2rem;
  font-weight:bold;
}

.content-wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 0 10px;
}

.content-title {
  margin: 0.5rem 0;
  font-size: 1.5rem;
  color: #2cbae7;
}

.favorite_button_container{
  margin-bottom:10px;
}

.favorite_button{
  border: none;
  background: #2cbae7;
  color: white;
  white-space: pre-line;
  word-break: break-word;
  border-radius:0.5rem;
  // line-height:1.25rem;
  margin:0.25rem 0 1rem 0;
}

.favorite_button_item{
  margin: 0.25rem 0 0 8px;
}